

html,
body{
  height: 100%;
}

body{
  font-family: 'font', sans-serif;
  color: $default;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}



.wrapper{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}


.main{
  flex: 1 0 auto;
}



.footer{
  flex: 0 0 auto;
}





.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}



a{
  font-size: 16px;
  line-height: 27px;
  color: $default;
  @extend %Pattaya-400;
}



