$title: #363838;
$default: #5a5a5a;

$accent: rgb(167, 4, 4);
$hover: #050505;
$bg:#c4c3c3;



%Pattaya-400{
  font-family: "Pattaya";
  font-weight: 400;
}

%Playfair-400{
  font-family: "Playfair";
  font-weight: 400;
}