.footer__info-title, .menu__list-link, .header__inner {
  font-family: "Roboto-Bold";
  font-weight: 700;
}

a {
  font-family: "Quicksand-Medium";
  font-weight: 500;
}

@font-face {
  font-family: "Quicksand-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Quicksand-Regular"), url("../fonts/Quicksand-Regular.woff2") format("woff2"), url("../fonts/Quicksand-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Quicksand-Medium";
  font-weight: 500;
  font-style: normal;
  src: local("Quicksand-Medium"), url("../fonts/Quicksand-Medium.woff2") format("woff2"), url("../fonts/Quicksand-Medium.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Regular";
  font-weight: 400;
  font-style: normal;
  src: local("Roboto-Regular"), url("../fonts/Roboto-Regular.woff2") format("woff2"), url("../fonts/Roboto-Regular.woff") format("woff");
  font-display: swap;
}
@font-face {
  font-family: "Roboto-Bold";
  font-weight: 700;
  font-style: normal;
  src: local("Roboto-Bold"), url("../fonts/Roboto-Bold.woff2") format("woff2"), url("../fonts/Roboto-Bold.woff") format("woff");
  font-display: swap;
}
html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  font-size: inherit;
}

ul[class] {
  list-style: none;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font: inherit;
}

a {
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: "open sans", sans-serif;
  color: #5a5a5a;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.main {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.container {
  max-width: 1140px;
  margin: 0 auto;
  padding: 0 15px;
}

a {
  font-size: 16px;
  line-height: 27px;
  color: #5a5a5a;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 170px;
}

.logo {
  margin: 0 auto;
}

.menu {
  padding-right: 20px;
}
.menu__list {
  display: flex;
}
.menu__list-item + .menu__list-item {
  padding-left: 100px;
}
.menu__list-link {
  line-height: 28px;
}

.footer__content {
  background: #dfdfdf;
  padding: 60px 0 80px;
}
.footer__inner {
  display: flex;
  justify-content: space-between;
}
.footer__info-title {
  color: #363838;
  margin-bottom: 14px;
  line-height: 23px;
}
.footer__social {
  width: 125px;
  margin-right: auto;
}
.footer__social-item, .footer__social-link {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 15px;
  padding-left: 28px;
}
.footer__social-link {
  padding-left: 28px;
  position: relative;
}
.footer__social-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 16px;
  height: 18px;
}
.footer__social-link--vk::before {
  background-image: url(../icons/vk.png);
}
.footer__social-link--tg::before {
  background-image: url(../icons/tg.png);
}
.footer__social-link--yt::before {
  background-image: url(../icons/yt.png);
}
.footer__social-link--kw::before {
  background-image: url(../icons/kwork.png);
}
.footer__menu {
  width: 125px;
  margin-right: 60px;
}
.footer__copy {
  background-color: #363838;
  color: #a1a1a1;
  text-align: center;
  padding: 42px 0 41px;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}/*# sourceMappingURL=style.css.map */